body{
    font-family: "Lato", sans-serif;
    color: #472d36;
    font-weight: 300;
}

.text-muted{
    color: #595959;
}

.text-thin{
    font-weight: 100;
}

.title-super{
    font-size: 50px;
}

.title-logo{
    margin-top: 20px;
}

.floating{
    float: left;
    padding: 4px;
}

.clearfix {
    overflow: auto;
}

hr{
    border-top: 3px solid #a10016;
}

@media screen and (max-width: 549px) {
    .title-logo{
        height: 52px;
    }
    .title-super{
        font-size: 30px;
    }
    h3{
        font-size: 15px;
    }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
        .title-super{
        font-size: 40px;
    }
    h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .stabile{
        display: inline-block;
    }
    .to-the-left{
        text-align: left;
    }
}

@media (min-width: 999px) {
    .title-super{
        font-size: 60px;
    }
}

@media screen and (min-width: 1200px) {
    figcaption{
        margin-left: 70px;
    }
}
